/* Live Password Validation */
.live-pswd-validate {
	display: none;
}
.live-pswd-validate.show {
	display: flex;
	animation: fadeIn 300ms linear;
}
.live-pswd-validate li {
	margin-bottom: 0.5vh;
	font-size: 0.7rem;
}
.live-pswd-validate li svg {
	width: 0.5rem;
	margin-right: 0.3rem;
	height: 0.5rem;
}
/* Tick Sign */
.live-pswd-check-valid.hide {
	display: none;
}
.live-pswd-check-valid.show {
	display: inline;
	animation: heartBeat 1s linear;
}
/* Cross Sign */
.live-pswd-check-invalid.hide {
	display: none;
}
.live-pswd-check-invalid.show {
	display: inline;
	animation: heartBeat 1s linear;
}
